:root{
  --blood-red: rgb(102, 0, 0);
  --madder-lake: rgb(199, 64, 64);
  --pastel-pink: rgb(242, 165, 165);
  --baby-pink: rgb(255, 204, 204);
  --snow: rgb(248, 242, 242);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.img-bg{
  background: rgb(255, 255, 255,0.8) url("./Caduceus.png") no-repeat ;
  background-position: center center;
  background-size: contain;
  background-blend-mode: lighten;
  min-height: 100vh;
  width: 100%;
  /* background: url("./MyBackground.png");
  background-size: 100vw auto;
  background-position-x: left;
  background-position-y: bottom;
  background-repeat: no-repeat; */

}


.mybg-dark {
  color: var(--snow);
  background-color: var(--blood-red);
}

.mygrad {
  background: var(--blood-red) radial-gradient(var(--snow) 0%, var(--baby-pink) 100%);
}

nav ul {
  font-size: 110%;
}

NavLink {
  opacity: 0.9;
}

NavLink:hover {
  font-weight: bold;
}

.dropdown-menu{
  border-top: 2px solid var(--snow) !important;
  background-color: var(--blood-red);
}

.dropdown-item{
  color: var(--snow);
  background: var(--blood-red);
}

.dropdown-item.active{
  background-color: var(--blood-red);
}
.dropdown-item:hover{
  color: var(--blood-red) !important;
  background: var(--snow) !important;
}

.dropdown-divider{
  color: var(--snow)
}

.bg-grad-clip{
  background: var(--blood-red) linear-gradient(to right bottom,var(--blood-red) 20%,var(--madder-lake) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.myBgSide{
  background: url("./MyBackground.png");
  background-size: auto 100%;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
}

.navbar-brand {
  font-size: 25px;
}


